<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CS4NPC94DC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CS4NPC94DC");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <title>{{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />
  </head>
  <body>
    <div class="flex flex-col min-h-screen justify-between">
      <div class="h-2 bg-violet-500 block"></div>
      {{ content }}
      <div class="footer footer-center mt-10 p-10 bg-neutral text-neutral-content">
        <nav class="grid grid-flow-col gap-4">
          <a href="/" class="link link-hover">Home</a> | <a href="/posts" class="link link-hover">Blog posts</a> |
          <a href="/posts.atom" class="link link-hover">RSS feed</a>
        </nav>
        <nav>
          <div class="grid grid-flow-col gap-4">
            <a href="https://github.com/omegahm" class="fill-white" target="_blank">
              {% svg /assets/images/github.svg %}
            </a>
            <a href="https://linkedin.com/in/madsohm" class="fill-white" target="_blank">
              {% svg /assets/images/linkedin.svg %}
            </a>
          </div>
        </nav>
        <aside>
          <p>© {{ site.time | date: "%Y" }} Mads Ohm Larsen</p>
        </aside>
      </div>
    </div>
  </body>
</html>
