<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    {% if site.title == page.title %}
    <title>{{ site.title }}</title>
    {% else %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% endif %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page.url == "/" %}
    <meta name="description" content="{{ site.title }} - {{ site.description }}" />
    {% else %}
    <meta name="description" content="{{ page.title }} - {{ page.subtitle }}" />
    {% endif %}

    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="website" />

    {% if site.title == page.title %}
    <meta property="og:title" content="{{ site.title }}" />
    {% else %}
    <meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
    {% endif %}

    <meta property="og:image" content="{{ site.url }}/assets/images/profile-original.webp" />

    {% if page.url == "/" %}
    <meta property="og:description" content="{{ site.title }} - {{ site.description }}" />
    {% else %}
    <meta property="og:description" content="{{ page.title }} - {{ page.subtitle }}" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="ohm.codes" />
    <meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />

    {% if site.title == page.title %}
    <meta name="twitter:title" content="{{ site.title }}" />
    {% else %}
    <meta name="twitter:title" content="{{ page.title }} | {{ site.title }}" />
    {% endif %}

    <meta name="twitter:image" content="{{ site.url }}/assets/images/profile-small.webp" />

    {% if page.url == "/" %}
    <meta name="twitter:description" content="{{ site.title }} - {{ site.description }}" />
    {% else %}
    <meta name="twitter:description" content="{{ page.title }} - {{ page.subtitle }}" />
    {% endif %}

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest" />

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CS4NPC94DC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CS4NPC94DC");
    </script>
  </head>
  <body>
    <div class="flex flex-col min-h-screen justify-between">
      <div class="h-2 bg-violet-500 block"></div>
      {{ content }}
      <div class="footer footer-center mt-10 p-10 bg-neutral text-neutral-content">
        <nav class="grid grid-flow-col gap-4">
          <a href="/" class="link link-hover">Home</a> | <a href="/posts" class="link link-hover">Blog posts</a> |
          <a href="/posts.atom" class="link link-hover">RSS feed</a>
        </nav>
        <nav>
          <div class="grid grid-flow-col gap-4">
            <a href="https://github.com/omegahm" class="fill-white hover:fill-gray-500" target="_blank">
              {% svg /assets/images/github.svg %}
            </a>
            <a href="https://linkedin.com/in/madsohm" class="fill-white hover:fill-gray-500" target="_blank">
              {% svg /assets/images/linkedin.svg %}
            </a>
          </div>
        </nav>
        <aside>
          <p>© {{ site.time | date: "%Y" }} Mads Ohm Larsen</p>
        </aside>
      </div>
    </div>
  </body>
</html>
